layer-rule {
  background-effect { 
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}


layer-rule {
  match namespace="^noctalia-bar"
  opacity 1.0
  geometry-corner-radius 0
  shadow { off; }
  background-effect {
    blur false
    xray false
  }
}
